* {
  font-family: "poppins", sans-serif;
}
table {
  border: 1px solid black;
}
thead {
  background-color: #2e4f4f;
  color: #fffbe9;
  font-size: 16px;
  font-weight: bold;
}
tbody {
  background-color: #cbe4de;
  color: #2c3333;
  font-size: 14px;
}
